<extend name="Base/common"/>
<block name="body">

<script type="text/javascript">
function BindSubBtnHover(subid)
{
    $('#submit-btn-'+subid).text(' 数据已提交');
    $('#submit-btn-'+subid).hover(function(){
      $('#submit-btn-'+subid).removeClass('am-btn-success');
      $('#submit-btn-'+subid).addClass('am-btn-danger');
      $('#submit-btn-'+subid).removeClass('am-icon-check');
      $('#submit-btn-'+subid).addClass('am-icon-remove');
      $('#submit-btn-'+subid).text(' 删除这一项');
    },function(){
      $('#submit-btn-'+subid).addClass('am-icon-check');
      $('#submit-btn-'+subid).removeClass('am-icon-remove');
      $('#submit-btn-'+subid).removeClass('am-btn-danger');
      $('#submit-btn-'+subid).addClass('am-btn-success');
      $('#submit-btn-'+subid).text(' 数据已提交');
    });
}
function parse_notify(re,subid)
{
  console.log(re);
  var jsonObject = JSON.parse(re);
  if(jsonObject['status']){
    success_notify_right(jsonObject['info']);
    $('#submit-btn-'+subid).attr('resid',jsonObject['id']);
    BindSubBtnHover(subid);
    return true;
  }
  else
  {
    error_notify_right(jsonObject['info']);
    return false;
  }
}
  var NowQuestionCount = {:count($questionList)+1};
  function AddQuestion()
  {
    // 克隆表单
    var tempClone = $('#form_prototype').clone(false);
    // 重写所克隆表单的div id
    tempClone.attr('id','form_prototype'+(NowQuestionCount+1));
    tempClone.show();
    // 修改模板表单id，与被克隆表单岔开
    $('#question-1').attr('id','question-temp');
    $('#submit-btn-1').attr('id','submit-btn-temp');
    $('input:radio[name="input-options-1"]').attr('name','input-options-temp');
    // 输出被克隆表单
    tempClone.appendTo('#form_display');
    // 完善被克隆表单的id与属性 并恢复模板表单的id
    $('#question-1').val('');
    $('#question-1').attr('id','question-'+(NowQuestionCount+1));
    $('#question-temp').attr('id','question-1');
    $('input:radio[name="input-options-1"]').attr('name','input-options-'+(NowQuestionCount+1));

    $('#submit-btn-1').text(' 提交');
    $('#submit-btn-1').attr('resid','');
    $('#submit-btn-1').attr('sub',(NowQuestionCount+1));
    $('#submit-btn-1').attr('id','submit-btn-'+(NowQuestionCount+1));
    $('#submit-btn-temp').attr('id','submit-btn-1');
    $('input:radio[name="input-options-temp"]').attr('name','input-options-1');
    ++NowQuestionCount;
  }

  function Commit(th)
  {
    subid = $(th).attr('sub');
    if($(th).attr('resid') == '')
    {
        if($("#question-"+subid).val() == '')
        {
          error_notify_right('不能提交空问题');
          return;
        }
        $.ajax({
            type:"POST",
            url:"/index.php/Admin/Activity/CommitQuestionForm",
            data:{
                  aid:{:$aid},
                  question:$("#question-"+subid).val(),
                  input:$('input:radio[name="input-options-'+subid+'"]:checked').val()
                  },
            success:function(re){
               parse_notify(re,subid);
        }
        });
    }else{
        $.ajax({
            type:"POST",
            url:"/index.php/Admin/Activity/DeleteQuestionForm",
            data:{
                  id:$(th).attr('resid')
                  },
            success:function(re){
              if(notify_re(re))
              {
                $('#form_prototype'+subid).fadeOut(700);
              }
        }
        });
    }
  }

  function NextStep()
  {
    window.location="{:U('/Admin/Activity/detail')}?" + 'id={$aid}';
  }
</script>
  <!-- content start -->
  <div class="admin-content">

    <div class="am-cf am-padding">
      <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">完善表单</strong> / <small>ActivityForm</small> <button class="am-btn am-btn-primary am-btn-xs am-icon-plus am-radius" onclick="AddQuestion()"> 增加一个表项</button></div>
    </div>

    <fieldset>
      <div class="am-form am-form-inline">

        <span id="form_prototype" style="display: none;">
          <div class="am-form-group am-form-icon">
            <i class="am-icon-question-circle"></i>
            <input type="text" class="am-form-field" id="question-1" placeholder="问题描述">
          </div>

          <div class="btn-group" data-toggle="buttons">
            <label class="btn btn-primary active">
              <input type="radio" name="input-options-1" value="0" autocomplete="off" checked> 单行输入框
            </label>
            <label class="btn btn-primary">
              <input type="radio" name="input-options-1" value="1" autocomplete="off"> 多行文本域
            </label>
          </div>

          <button class="am-btn am-btn-success am-btn-xs am-icon-check am-round" id="submit-btn-1" resid="" sub="1" onclick="Commit(this)"> 提交</button>
          <hr/>
        </span>

          <div id="form_display">
            <volist name="questionList" id="vo" key="key">
              <php>$k = $key + 1;</php>
              <span id="form_prototype{$k}">
                <div class="am-form-group am-form-icon">
                  <i class="am-icon-question-circle"></i>
                  <input type="text" class="am-form-field" id="question-{$k}" value="{$vo['question']}" placeholder="问题描述">
                </div>

                <div class="btn-group" data-toggle="buttons">
                  <label class="btn btn-primary {$vo['input_element']?'':'active'}">
                    <input type="radio" name="input-options-{$k}" value="0" autocomplete="off" {$vo['input_element']?'':'checked'}> 单行输入框
                  </label>
                  <label class="btn btn-primary {$vo['input_element']?'active':''}">
                    <input type="radio" name="input-options-{$k}" value="1" autocomplete="off" {$vo['input_element']?'checked':''}> 多行文本域
                  </label>
                </div>

                <button class="am-btn am-btn-success am-btn-xs am-icon-check am-round" id="submit-btn-{$k}" resid="{$vo['id']}" sub="{$k}" onclick="Commit(this)"> 提交</button>
                <hr/>
              </span>
              <script type="text/javascript">BindSubBtnHover({$k})</script>
            </volist>
          </div>
      </div>

      <button class="am-btn am-btn-success" onclick="NextStep()">下一步，填写详情</button>
      </fieldset>
    </div>
<script type="text/javascript">AddQuestion()</script>
</block>
