<extend name="Base/common"/>
<block name="body">

  <!-- content start -->
  <div class="admin-content">

    <div class="am-cf am-padding">
      <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">网站概述</strong> / <small>Index</small></div>
    </div>

    <ul class="am-avg-sm-1 am-avg-md-3 am-margin am-padding am-text-center admin-content-list ">
      <li><span class="am-icon-btn am-icon-file-text"></span><br/>拥有项目<br/>{:$ProCount}</li>
      <li><span class="am-icon-btn am-icon-user"></span><br/>拥有用户<br/>{:$UserCount}</li>
      <li><span class="am-icon-btn am-icon-recycle"></span><br/>未审核项目<br/>{:$UncheckProCount}</li>
    </ul>
    </div>



</block>
