<header class="am-topbar admin-header">
  <div class="am-topbar-brand">
    <strong>{:C('SITE_TITLE')}</strong> <small>Admin Center</small>
  </div>

  <div class="am-collapse am-topbar-collapse" id="topbar-collapse">

    <ul class="am-nav am-nav-pills am-topbar-nav am-topbar-right admin-header-list">
      
    </ul>

  </div>
</header>
  
<div class="am-cf admin-main">
  <!-- sidebar start -->
  <div class="admin-sidebar am-offcanvas" id="admin-offcanvas">
    <div class="am-offcanvas-bar admin-offcanvas-bar">
      <ul class="am-list admin-sidebar-list">
        <li><a href="{:U('/Admin/Index')}"><span class="am-icon-home"> 系统概述</span></a></li>
        <li><a href="{:U('/Admin/Check')}"><span class="am-icon-server"> 项目审核</span></a></li>
        <li><a href="{:U('/Admin/Activity')}"><span class="am-icon-soccer-ball-o"> 创建活动</span></a></li>
        <li><a href="{:U('/')}"><span class="am-icon-sign-out"> 返回主站</span></a></li>
      </ul>
      
    </div>
  </div>
  <!-- sidebar end -->