<extend name="Base/common"/>
<block name="body">
<title>{$detail['name']} - {:C('SITE_TITLE')}</title>
<script type="text/javascript" src="/Public/js/bootstrap.modals.min.js"></script>

  <div class="am-g" id="page-div">
    <header class="am-g my-head">
      <div class="am-u-sm-12 am-article">
        <h1 class="am-article-title" id="baike_title">{$detail['name']} 
         <if condition="$detail['username'] eq cookie('username')">
        
          <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              操作 <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li><a href="{:U('/Admin/Activity/form').'?id='.$detail['id']}">修改表单</a></li>
              <li><a href="{:U('/Admin/Activity/detail').'?id='.$detail['id']}">编辑详情</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="{:U('/Admin/Activity/DeleteActivity').'?id='.$detail['id']}">删除</a></li>
            </ul>

          </div>
        </if>
        </h1>
      </div>
    </header>
    <hr />
    <div class="am-u-md-8">
      <div>

        <!-- Nav tabs -->
        <ul class="nav nav-pills" role="tablist">
          <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">详情</a></li>
          <li role="presentation"><a href="#comment" aria-controls="comment" role="tab" data-toggle="tab">评论</a></li>
          <if condition="IsAdmin()">
            <li role="presentation"><a href="#form" aria-controls="form" role="tab" data-toggle="tab">已收到的申请</a></li>
          </if>
        </ul>
        <hr/>
        <!-- Tab panes -->
        <div class="tab-content detail-content">
          <div role="tabpanel" class="tab-pane active" id="home">{:ParseMd($detail['detail'])}</div>
          <div role="tabpanel" class="tab-pane" id="comment">
            <div data-am-widget="duoshuo" class="am-duoshuo am-duoshuo-default" data-ds-short-name="smilecc">
              <div class="ds-thread" >
              </div>
            </div>
          </div>
          <if condition="IsAdmin()">
            <!-- Modal -->
            <div class="modal fade" id="FormDetailModal" tabindex="-1" role="dialog" aria-labelledby="FormDetailModalLabel">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="FormDetailModalLabel">详情</h4>
                  </div>
                  <div class="modal-body" id="FormDetail">
                    <span id="FormDetailContent"><i class="am-icon-circle-o-notch am-icon-spin"></i> 正在加载</span>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">关闭</button>
                  </div>
                </div>
              </div>
            </div>
            <script type="text/javascript">
              function ShowFormDetail(SignId)
              {
                  $("#FormDetailContent").replaceWith('<span><i class="am-icon-circle-o-notch am-icon-spin"></i> 正在加载</span>');
                  $('#FormDetailModal').modal('show');
                  $('#FormDetail').load('{:U("/Home/Activity/FormDetail")}?signid=' + SignId);
              }
            </script>
            <div role="tabpanel" class="tab-pane" id="form">
             <div class="list-group">
                <volist name="formList" id="vo">
                    <button type="button" class="list-group-item" onclick="ShowFormDetail({$vo['id']})">来自 <strong>{$vo['username']}</strong> 的申请</button>
                </volist>
            </div>

            </div>
          </if>
        </div>

      </div>
    </div>
    <div class="am-u-md-4">
      <img src="/Public/Uploads/{$detail['img']}"/>
      <hr/>
      <a type="button" class="am-btn <if condition="$detail['isOver']">am-btn-default am-disabled<else/>am-btn-success</if> am-radius activity-detail-join-btn" href="{:U('/Home/Activity/form').'?id='.$detail['id']}"><if condition="$detail['isOver']">活动已结束<else/>填写报名申请表</if></a>
    </div>
  </div>

</block>