.qa-footer-grey{
	background: #eee;
}
body,html {
 margin: 0;
 padding: 0;
 height:100%;
}
#space_height {
 position: relative;
 min-height:100%;
 padding-bottom: 120px;  /* 不至被footer盖住 */
}
footer {
 position: absolute;
 bottom: 0;
 width: 100%;
}
.qustion-title-content{
	LINE-HEIGHT:0px;
}
.info-tab{
	height:350px;
}
.info{
	min-width: 380px;
	padding: 0px;
}
.info-nodisplay-badge{
	display: none;
}

.am-tabs-noborder{
	border:0px;
}
.am-text-white{
	color: white !important;
}
.am-panel-padding4{
    padding: 5.5px;
    padding-bottom: 0px !important;
}
.project-type-list{
	margin: 0px;
}
.activity-time{
	margin: 15px auto;
	font-size: 1.2rem;
}
.activity-join-btn{
	width: 220px;
	margin-bottom: 10px;
}
.activity-img{
	z-index:1;
}
.activity-online{
	position:absolute;
 	z-index:2;
}
.detail-content img { max-width: 100%}
.NoMore-alert{
	display:none;
	margin-top: 0;
	margin-bottom: 0;
	height: 37px;
	padding-top: 6px;
	padding-bottom: 6px;
}
.activity-detail-join-btn{
	width: 100%;
}
.project-type{
	margin: 4px auto;
}