<extend name="Base/common"/>

<block name="headerImg">
  <div data-am-widget="slider" class="am-slider am-slider-b1" data-am-slider='{&quot;controlNav&quot;:false}' >
  <ul class="am-slides">
      <li>
        	<a href="#"><img src="__PUBLIC__/19700101561c6494d307b.jpg"></a>
         
      </li>
      <li>
        	<a href="#"><img src="__PUBLIC__/19700101561c6494d307b.jpg"></a>
         
      </li>
  </ul>
</div>
</block>

<block name="body">
<script type="text/javascript">
	$("#topbar-index").addClass("am-active");
</script>
<title>首页 - {:C('SITE_TITLE')}</title>


</block>