<extend name="Base/common"/>

<block name="body">
<script type="text/javascript">
	$("#topbar-find").addClass("am-active");
</script>
<title>发现 - {:C('SITE_TITLE')}</title>
<script type="text/javascript">
	var nowType = {:$nowType};
	var nowProcess = {:$nowProcess};
	var nowPage = 0;
	function OnTypeClick(id){
		nowType = id;
		RedirectPage();
	}

	function OnProcessClick(id){
		nowProcess = id;
		RedirectPage();
	}

	function RedirectPage(){
		window.location = "{:U('/Home/Project/')}?" + 'type=' + nowType + '&process=' + nowProcess;
	}
	function LoadNextPage(){
	  ++nowPage;
	  var id = "#pro_load";
	  if(nowPage != 1) {
	  	$('#load_more_btn').button('loading');
	  	id = "#pro_load_more";
	  }
	  $(id).load('{:U("/Home/Project/load")}?page=' + nowPage + '&type=' + nowType + '&process=' + nowProcess);
	}
</script>

<ul class="list-group">
  <li class="list-group-item">
	<ul class="am-nav am-nav-pills am-text-xs project-type-list">
	  <li class="am-active"><a style="background-color:#5eb95e !important;">项目类型</a></li>
	  <li id="type-0"><a href="javascript:;" onclick="OnTypeClick(0)">全部</a></li>
	  <volist name="type" id="vo">
	  	<li id="type-{$vo['id']}"><a href="javascript:;" onclick="OnTypeClick({$vo['id']})">{$vo['name']}</a></li>
	  </volist>
	</ul>
  </li>
  <li class="list-group-item">
	<ul class="am-nav am-nav-pills am-text-xs project-type-list">
	  <li class="am-active"><a style="background-color:#5eb95e !important;">项目状态</a></li>
	  <li id="process-0"><a href="javascript:;" onclick="OnProcessClick(0)">全部</a></li>
	  <volist name="process" id="vo">
	  	<li id="process-{$vo['id']}"><a href="javascript:;" onclick="OnProcessClick({$vo['id']})">{$vo['name']}</a></li>
	  </volist>
	</ul>
  </li>
</ul>


<script type="text/javascript">
	$('#type-' + nowType).addClass('am-active');
	$('#process-' + nowProcess).addClass('am-active');
</script>

<ul id="pro_load" class="am-avg-md-3 am-thumbnails">
	<button type="button" class="am-btn am-btn-default am-btn-block"><i class="am-icon-spinner am-icon-spin"></i> 加载中</button>
</ul>
<script type="text/javascript">LoadNextPage();</script>

<div id="NoMoreProAlert" class="NoMore-alert am-alert am-alert-default" data-am-alert>
  <p class="am-text-center">没有更多的项目了</p>
</div>
</block>